@use '../globals' as g;
@use '../utils/' as u;

header {
  display: flex;
  gap: u.rem(20);
  padding: 0 u.rem(10);
  align-items: center;
  border-bottom: u.rem(1) solid u.color(borderLine);
  height: u.rem(110);
  width: 100%;

  #desktopLogo {
    display: none;
  }

  .logo {
    padding: u.rem(30) 0;
  }
  @include u.breakpoint(medium) {
    #mobileLogo {
      display: none;
    }

    #desktopLogo {
      display: block;
      width: u.rem(180);
    }
    .logo {
      border-right: 1px solid u.color(borderLine);
      padding: u.rem(30);
      padding-right: u.rem(119);
    }
  }
}

.boardTitle h1{
  font-size: u.rem(20);
}

.actionHeader {
  display: flex;
  align-items: center;
  gap: u.rem(20);
  margin-left: auto;

  button {
    padding: u.rem(5) u.rem(15);
    border-radius: u.rem(20);
    background-color: g.$darkBlue;

    span {
      #addNew {
        display: none;
      }

      @include u.breakpoint(medium) {
        
        #addNew {
          display: block;
        }
        display: flex;
        align-items: center;
      }
    }
    &+img {
      padding-right: u.rem(30);
    }
  }
}

main {
  height: calc(100vh - u.rem(100));
  width: 100%;
  
  
  position: relative;
  background-color: u.color(bg);
  overflow: auto;
  
  @include u.breakpoint(medium) {
    display: flex;
    gap: u.rem(40);

  }
}

.sideBarPos {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  position: absolute;
  top: -2%;

  @include u.breakpoint(medium) {
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: auto;
  }
}

.column__container {
  display: flex;
  gap: u.rem(40);
  position: absolute;
  height: 100%;
  min-width: 100%;
  left: u.rem(350);
  padding: u.rem(30);
}

