@use '../globals' as g;
@use '../utils/' as u;

header {
  display: flex;
  gap: u.rem(20);
  padding: 0 u.rem(10);
  // align-items: center;
  border-bottom: u.rem(1) solid u.color(borderLine);
  height: u.rem(110);
  width: 100%;

  #desktopLogo {
    display: none;
  }

  .logo {
    padding: u.rem(30) 0;
  }
  @include u.breakpoint(medium) {
    #mobileLogo {
      display: none;
    }

    #desktopLogo {
      display: block;
      width: u.rem(180);
    }
    .logo {
      border-right: 1px solid u.color(borderLine);
      padding: u.rem(30);
      padding-right: u.rem(119);
    }
  }
}

.boardTitle {
  span {
    display: none;
  }
  .mobileSideBar {
    display: none;
  }
  align-self: center;
  padding-left: u.rem(20);
  color: u.color(title);
  @include u.breakpoint-down(small) {
    span {
      display: block;
      transition: all 0.2s ease;
    }
    display: flex;
    align-items: center;
    gap: u.rem(5);
    justify-content: space-between;
    font-weight: 700;

    .mobileSideBar {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9;
      background-color: g.$overlay;
      display: none;
      justify-content: center;
      pointer-events: none;

      &.show {
        display: flex;
      }
    }
  }
}

.actionHeader {
  display: flex;
  align-items: center;
  gap: u.rem(20);
  margin-left: auto;

  button {
    padding: u.rem(16) u.rem(20);
    border-radius: u.rem(24);
    background-color: g.$darkBlue;
    color: white;

    &:hover {
      background-color: g.$lightBlue;
    }
    span {
      display: flex;
      align-items: center;
      gap: u.rem(5);
      #addNew {
        display: none;
      }

      @include u.breakpoint(medium) {
        
        #addNew {
          display: block;
        }
        display: flex;
        align-items: center;
      }
    }
    &+div {
      padding-right: u.rem(30);
    }
  }
}

.boardActions {
  position: relative;

  img {
    cursor: pointer;
    padding: u.rem(10);
    border-radius: u.rem(10);
    &:hover {
      background-color: u.color(ellipsis);
    }
  }
  &__child {
    display: flex;
    flex-direction: column;
    gap: u.rem(20);
    border-radius: u.rem(10);
    z-index: 5;
    width: u.rem(220);
    background-color: u.color(main);
    box-shadow: 0 0 u.rem(8) #364e7e1a;
    padding: u.rem(20);
    position: absolute;
    top: u.rem(40);
    right: u.rem(20);
    display: none;

    p {
      font-weight: 700;
      font-size: u.rem(18);
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
    p:first-child {
      color: g.$mediumGray;
      margin-bottom: u.rem(10);
    }

    p:nth-of-type(2) {
      color: g.$red;
    }

    &.show {
      display: block;
    }
  }
}

main {
  height: calc(100vh - u.rem(100));
  min-width: 100%;
  
  
  position: relative;
  background-color: u.color(bg);
  overflow: auto;
  
  @include u.breakpoint(medium) {
    display: flex;
    gap: u.rem(40);
  }

  .showSideBar {

    @include u.breakpoint(medium) {

      position: absolute;
      z-index: 10;
      bottom: 5%;
      background-color: g.$darkBlue;
  
      padding: u.rem(10) u.rem(20);
      border-radius: 0 u.rem(40) u.rem(40) 0;
  
      img {
        width: u.rem(20);
      }

      cursor: pointer;
    }
  }
}

.sideBarPos {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  display: none;
  display: flex;
  justify-content: center;
  

  @include u.breakpoint(medium) {
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: auto;
    display: block;
  }
}

.scroll {
  &::-webkit-scrollbar {
    height: u.rem(9);
    width: u.rem(10);

    &-corner {
      background-color: u.color(bg);

    }
    
    &-thumb {
      background: u.color(scroll);
      border-radius: u.rem(10);
      &:hover {
        background-color: g.$darkBlue;
      }
    }

    &-track {
      background: rgba(0, 0, 0, 0.3);
      border-radius: u.rem(10);
    }
  }
}

.column__container {
  display: flex;
  gap: u.rem(40);
  position: absolute;
  height: 100%;
  min-width: 100%;
  left: u.rem(350);
  padding: u.rem(30);
  transform: translateX(u.rem(-350));

  @include u.breakpoint(medium) {
    transform: translateX(0);
    &.mainHide {
      left: 0;
    }
    
  }
}

.column__new {
  span h1{
    color: g.$mediumGray;
  }
  &:hover {
    cursor: pointer;
    span h1{
      color: g.$darkBlue;
    }
  }
}

.noBoard {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &__container {
    padding-left: u.rem(200);
    display: flex;
    flex-direction: column;
    gap: u.rem(30);

    p {
      color: u.color(subTitle);
      font-size: u.rem(18);
      font-weight: 700;
    }

    button {
      padding: u.rem(16);
      border-radius: u.rem(24);
      background-color: g.$darkBlue;
      color: white;
      width: u.rem(160);
      font-size: u.rem(15);
      font-weight: 700;
      align-self: center;

      &:hover {
        background-color: g.$lightBlue;
      }
      
    }
  }
}

