@use '../globals/' as g;
@use '../utils/' as u;

.modal__overlay {
  width: 100%;
  height: 100%;

  background-color:g.$overlay;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 3;

  .modal__content {
    width: 100%;
    background-color: u.color(main);
    padding: u.rem(50) u.rem(30);
    border-radius: u.rem(10);
    display: flex;
    flex-direction: column;
    gap: u.rem(15);

    #closeModal {
      align-self: flex-end;
    }
  
    @media (min-width:u.rem(500)) {
      max-width: u.rem(500);

      #closeModal {
        display: none;
      }
    }
  }
}

.deleteModal {
  display: flex;
  flex-direction: column;
  gap: u.rem(10);
  h3 {
    color:g.$red;
  }

  p {
    color: u.color(subTitle);
  }

  div {
    display: flex;
    align-items: center;
    gap: u.rem(20);
    width: 100%;

    button {
      width: 100%;
    }
  }
}
