@use './fonts' as f;
@use './colors' as c;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: f.$font;
}

button {
  font-family: inherit;
  border: none;
}

.primary-btn {
  background-color: c.$veryLightBlue;
  color: c.$lightBlue;
}

.secondary-btn {
  background-color: c.$darkBlue;
  color: c.$white;
}
