@use './fonts' as f;
@use './colors' as c;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: f.$font;
  line-height: 1.5;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

input, textarea {
  font-family: inherit;
  background: transparent;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

