$black: #000000;
$white: #ffffff;
$red:#EA5555;
$darkBlue: #635FC7;
$veryLightBlue:#f0effa;
$lightBlue: #A8A4FF;
$lightGray: #F4F7FD;
$lightGrayLine: #E4EBFA;
$mediumGray: #828fa3;
$darkGray: #2B2C37;
$darkGrayLine: #3E3F4E;
$veryDarkGray: #20212C;
$cardShadow: rgba(54, 78, 126,0.101545);
$overlay: rgba(0,0,0,0.5);
$mediumGrayOpacity: rgba(130,143,163,0.4);
$mediumGrayGradient: linear-gradient(to bottom, rgba(121, 132, 147, 0.2),rgba(130,143,163,0.1), rgba(130,143,163,0));
$darkBlueOpacity: rgba(99, 95, 199,0.25);


$light:(
  bg: $lightGray,
  scroll:$mediumGray,
  borderLine:$lightGrayLine,
  main: $white,
  title: $black,
  subTitle: $mediumGray,
  board:$white,
  themeSwitchBox: $lightGray,
  addButton: $veryLightBlue,
  ellipsis: $lightGrayLine,
  checked: rgba(0,0,0,0.5),
);

$dark:(
  bg:$veryDarkGray,
  scroll:$darkGrayLine,
  borderLine:$darkGrayLine,
  main: $darkGray,
  title: $white,
  subTitle: $white,
  board:$veryDarkGray,
  themeSwitchBox: $veryDarkGray,
  addButton: $white,
  ellipsis: $veryDarkGray,
  checked: rgba(255,255,255,0.5),
  
);